{% extends 'partials/base.html.twig' %}

{% block content %}

{{ photoswipe('photoswipe-gallery-id', 'a') }}

<div id="photoswipe-gallery-id">
    {% for item in page.media.images %}
#        <a href="{{ item.url|e }}" class="gallery-item" data-size="{{ item.width ~ 'x' ~ item.height }}">
            <img src="{{ item.lighbox(1024,768).cropResize(500, 250).url|e }}" alt=""/>
#        </a>

    {% endfor %}
</div>

{% endblock %}
